<div
	class="loader"
	[class.loader__hidden]="!isLoading"
></div>

<header>
	<button
		mat-button
		routerLink="/main"
	>
		<mat-icon>arrow_back</mat-icon>
	</button>

	<h1>Categories list</h1>

	<button
		mat-button
		routerLink="./edit/new"
	>
		<mat-icon>add</mat-icon>
	</button>
</header>

<div class="categories__wrapper">
	<!-- *ngIf="isLoading" -->

	<div *ngFor="let cat of categories">
		<mat-card
			matRipple
			class="category"
			[routerLink]="['./edit/' + cat.id]"
		>
			<div class="labels">
				<mat-card-title class="category-label"> {{ cat.name }} </mat-card-title>
				<mat-card-subtitle>
					<!-- {{ cat.subCategories.join(', ') }} -->
					{{ cat.subCategoriesFull | subcategoriesNameLister }}
				</mat-card-subtitle>
			</div>

			<div class="content">
				<span class="common-label">Created by:</span>
				{{ cat.createdBy }}
				<br />
				<span class="common-label">Roles:</span>
				{{ cat.rolesFull | subcategoriesNameLister }}
			</div>
		</mat-card>
	</div>
</div>
