:host {
	// width: 100%;
	// min-height: 100%;
	flex-grow: 1;
	background-color: #eee;
	// border: 3px solid #ff0;
}

header {
	display: flex;
	padding: 5px;

	h1 {
		flex-grow: 1;
		text-align: center;
		height: 100%;
	}
}

.loader {
	$duration: 0.5s;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 10px;
	overflow: hidden;

	background: repeating-linear-gradient(
		30deg,
		#bbb,
		#bbb 10px,
		#aaa 10px,
		#aaa 20px
	);
	background-size: 200% 200%;
	transition: height 0.2s;
	animation: bg-move 10s linear infinite;

	&__hidden {
		height: 0;
	}
}

@keyframes bg-move {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

.categories__wrapper {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.category {
		display: flex;
		// flex-basis: 700px;
		margin-bottom: 7px;
		cursor: pointer;
		transition: transform 0.1s;
		// max-width: 700px;
		width: clamp(300px, 95vw, 700px);

		&:hover {
			transform: translateY(-2px);
		}
		&:active {
			transform: translateY(0px);
		}

		.labels,
		.content {
			width: 50%;
			& * {
				margin: 0;
			}
		}

		.labels {
			width: 70%;
		}

		.content {
			width: 30%;
		}

		.common-label {
			opacity: 0.8;
			font-weight: bold;
		}
	}
}
