@import 'variable.scss';

:host {
	flex-grow: 1;
	background-color: #eee;
}

header {
	display: flex;
	padding: 5px;

	h1 {
		flex-grow: 1;
		text-align: center;
		height: 100%;
	}
}

.categories__wrapper {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.category {
		display: flex;
		margin-bottom: 7px;
		cursor: pointer;
		transition: transform 0.1s;
		width: clamp(300px, 95vw, 1200px);

		&:hover {
			transform: translateY(-2px);
		}
		&:active {
			transform: translateY(0px);
		}

		.labels,
		.content {
			& * {
				margin: 0;
			}
		}

		.labels {
			width: 70%;
		}

		.content {
			width: 30%;
		}

		.common-label {
			opacity: 0.8;
			font-weight: bold;
		}

		@media screen and (max-width: $screen-width-small) {
			flex-direction: column;

			.labels,
			.content {
				width: 100%;
			}

			.labels {
				width: 100%;
			}

			.content {
				margin-top: 5px;
				width: 100%;
				display: flex;
				gap: 5px;
				justify-content: space-between;
				flex-wrap: wrap;
			}
		}
	}
}
