<app-loader [isLoading]="isLoading"></app-loader>

<header>
	<button
		mat-icon-button
		routerLink="/main"
	>
		<mat-icon>arrow_back</mat-icon>
	</button>

	<h1>Categories list</h1>

	<button
		mat-icon-button
		routerLink="./edit/new"
	>
		<mat-icon>add</mat-icon>
	</button>
</header>

<div class="categories__wrapper">
	<!-- *ngIf="isLoading" -->

	<div *ngFor="let cat of categories">
		<mat-card
			matRipple
			class="category"
			[routerLink]="['./edit/' + cat.id]"
		>
			<div class="labels">
				<mat-card-title class="category-label"> {{ cat.name }} </mat-card-title>
				<mat-card-subtitle>
					<!-- {{ cat.subCategories.join(', ') }} -->
					{{ cat.subCategoriesFull | subcategoriesNameLister }}
				</mat-card-subtitle>
			</div>

			<div class="content">
				<div>
					<span class="common-label">Created by: </span>
					{{ cat.createdByFull.firstName + ' ' + cat.createdByFull.lastName }}
				</div>

				<div>
					<span class="common-label">Roles: </span>
					<span
						*ngFor="let role of cat.rolesFull"
						class="role"
					>
						{{ role.name }}
					</span>
				</div>
			</div>
		</mat-card>
	</div>
</div>
