<div class="add-btn">
	<button
		mat-raised-button
		color="primary"
		routerLink="add"
		routerLinkActive="active"
	>
		Add new role
	</button>
</div>
<div class="mat-elevation-z8">
	<table
		mat-table
		[dataSource]="dataSource"
		matSort
		(matSortChange)="announceSortChange($event)"
	>
		<ng-container matColumnDef="name">
			<th
				mat-header-cell
				mat-sort-header="name"
				sortActionDescription="Sort by role name"
				*matHeaderCellDef
			>
				Role name
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				{{ element.name }}
			</td>
		</ng-container>

		<ng-container matColumnDef="modificationCategory">
			<th
				mat-header-cell
				mat-sort-header="modificationCategory"
				sortActionDescription="Sort by modificationCategory"
				*matHeaderCellDef
			>
				Can modify categories
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				{{ element.canModifyCategory }}
			</td>
		</ng-container>

		<ng-container matColumnDef="modificationPost">
			<th
				mat-header-cell
				mat-sort-header="modificationPost"
				sortActionDescription="Sort by modificationPost"
				*matHeaderCellDef
			>
				Can modify posts
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				{{ element.canModifyPost }}
			</td>
		</ng-container>

		<ng-container matColumnDef="availableCategoryIdsToView">
			<th
				mat-header-cell
				mat-sort-header="availableCategoryIdsToView"
				sortActionDescription="Sort by availableCategoryIdsToView"
				*matHeaderCellDef
			>
				Available categories to view
			</th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				{{ element.availableCategoriesToView | arrayByKey }}
			</td>
		</ng-container>

		<ng-container matColumnDef="id">
			<th
				mat-header-cell
				*matHeaderCellDef
			></th>
			<td
				mat-cell
				*matCellDef="let element"
			>
				<span [matTooltip]="getTooltipTextForEdit(element)">
					<button
						[disabled]="element.id === '0'"
						mat-mini-fab
						color="primary"
						matTooltip="Edit role {{ element.name }}"
						(click)="onEdit(element.id)"
					>
						<mat-icon>edit</mat-icon>
					</button>
				</span>
				<span [matTooltip]="getTooltipTextForDelete(element)">
					<button
						mat-mini-fab
						color="warn"
						[disabled]="element.id === '0' || element.hasUsers"
						matTooltip="Delete role {{ element.name }}"
						(click)="onDelete(element)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</span>
			</td>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns"
		></tr>
		<tr
			mat-row
			*matRowDef="let row; columns: displayedColumns"
		></tr>
	</table>

	<mat-paginator
		[pageSizeOptions]="[5, 10, 20]"
		showFirstLastButtons
		aria-label="Select page of periodic elements"
	>
	</mat-paginator>
</div>
<router-outlet></router-outlet>
