:host {
	width: 100%;
}
.header {
	display: block;
	height: 65px;
}
.role--add {
	position: relative;
	margin: 0 auto;
	width: 80vw;

	border-radius: 23px;
	background: #ffffff;
	box-shadow: -5px -5px 19px #f5f5f5, 5px 5px 19px #ffffff;

	&:before {
		content: '';
		position: absolute;
		top: -40px;
		left: -40px;
		z-index: -1;
		height: 100px;
		width: 100px;
		background: rgba(15, 74, 255, 0.48);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		transform: rotate(15deg);
		animation: move-up 3s ease-in infinite alternate-reverse;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -40px;
		right: -40px;
		z-index: -1;
		height: 100px;
		width: 100px;
		background: rgb(245, 8, 8, 0.48);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		transform: rotate(-15deg);
		animation: move-down 3s ease-in infinite alternate-reverse;
	}

	h1 {
		z-index: 5;
		padding: 20px 25px 0;
	}
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: start;

	img {
		position: relative;
		height: 25vw;
		max-height: 300px;
		border-radius: 25%;
	}
}

form {
	min-width: 45%;
	padding-bottom: 5%;
}

.role {
	&__form-element {
		padding: 0 10px;
		margin-top: 10px;
		justify-items: center;
		align-items: center;
	}

	&__btn-wrap {
		display: flex;
		justify-content: space-between;

		button {
			width: calc(50% - 10px);
		}
	}
}

mat-form-field {
	width: 100%;
}

mat-error {
	padding-bottom: 5px;
}

.footer {
	display: block;
	height: 65px;
}
@keyframes move-up {
	to {
		transform: translateY(-10px) rotate(-20deg);
	}
}

@keyframes move-down {
	to {
		transform: translateY(10px) rotate(20deg);
	}
}
@media (max-width: 576px) {
	.role--add {
		&:before {
			display: none;
		}

		&:after {
			display: none;
		}
	}
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
	}
	.form__align {
		align-content: start;
	}
	button {
		margin: 10px 0;
	}
	.footer {
		display: none;
	}
}
@media (max-width: 960px) {
	img {
		display: none;
	}
}
@media (min-width: 1400px) {
	.role--add {
		width: 900px;
	}
}
