.spiner {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #77789d8f;
	top: 0;
	left: 0;
	z-index: 150;

	mat-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.hide {
		display: none;
	}
}
