<nav [ngClass]="isOpened ? 'categories categories_opened' : 'categories '">
	<div class="categories__content">
		<h2 class="header">
			<button
				mat-icon-button
				(click)="close()"
				class="small-screen-element"
				matTooltip="Close this menu"
			>
				<mat-icon>close</mat-icon>
			</button>
			List of categories:
			<button
				*ngIf="isUserCanModCat"
				mat-icon-button
				routerLink="/edit-categories"
				matTooltip="Edit categories list"
			>
				<mat-icon>edit_note</mat-icon>
			</button>
		</h2>

		<div class="category category__all">
			<div
				mat-ripple
				class="category-item category-head"
				[class.category-item__selected]="searchParams.categoryId == 'all'"
				(click)="setSelectedCategory('all', null)"
			>
				All
			</div>
		</div>

		<div
			class="category"
			*ngFor="let category of categories"
		>
			<div
				mat-ripple
				class="category-item category-head"
				(click)="setSelectedCategory(category.id, null)"
				[class.category-item__selected]="searchParams.categoryId == category.id"
			>
				{{ category.name }}
			</div>
			<div
				mat-ripple
				class="subcategory category-item"
				*ngFor="let sub of category.subCategoriesFull"
				[class.category-item__selected]="searchParams.subCategoryId == sub.id"
				(click)="setSelectedCategory(null, sub.id)"
			>
				{{ sub.name }}
			</div>
		</div>
	</div>
</nav>
