@import 'variable.scss';
$sidebar-open-duration: 0.3s;

.small-screen-element {
	//will not shown on big screen
	display: none;
	@media screen and (max-width: $screen-width-small) {
		display: unset;
	}
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background: #aaa3;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3336;
}

.categories {
	transition: all $sidebar-open-duration;
	z-index: 500;
	height: 100%;
	background-color: #eee;
	overflow-y: auto;
	overflow-x: hidden;

	@media screen and (max-width: $screen-width-small) {
		background-color: #f8f8f8;
		width: 90vw;
		max-height: calc(100vh - 56px);
		// overflow: hidden;
		// overflow-y: scroll;
		transform: translate(-100%, 0px);
		position: absolute;
		&_opened {
			box-shadow: 5px 0 5px #0003;

			transform: translate(0%, 0%);
		}
	}

	.categories__content {
		width: clamp(250px, 20vw, 350px);
		color: #555;

		@media screen and (max-width: $screen-width-medium) {
			width: 130px;
		}

		@media screen and (max-width: $screen-width-small) {
			width: 90vw;
		}

		.header {
			padding: 5px 15px;
			margin: 0px;
			@media screen and (max-width: $screen-width-small) {
				padding: 5px 3px;
			}
		}

		.category {
			border-top: 2px solid #0001;
			// margin: 10px 0;
			margin-bottom: 10px;
			padding-top: 10px;

			&__all {
				border: none;
			}
		}

		.category-item {
			cursor: pointer;
			width: 100%;
			padding: 5px 15px;
			transition: all 0.3s;
			&:hover {
				color: #06f;
				background-color: #06f2;
			}
			&:active {
				// box-shadow: inset 0 2px 2px 1px #0002, inset 0 1px 1px #0001;
				background-color: #0001;
			}

			&__selected {
				color: #06f;
				background-color: #0001;
			}
		}

		.category-head {
			font-size: 1rem;
			font-weight: 400;
		}

		.subcategory {
			opacity: 0.8;
		}
	}
}
