<app-stripe-loader [isLoading]="isLoading"></app-stripe-loader>
<header>
	<button
		mat-icon-button
		routerLink="/edit-categories"
	>
		<mat-icon>arrow_back</mat-icon>
	</button>
	<h1 *ngIf="category.id != 'new'">Edit category</h1>
	<h1 *ngIf="category.id == 'new'">Add category</h1>
</header>

<div class="form__wrapper">
	<mat-card class="form-card">
		<form
			[formGroup]="form"
			(ngSubmit)="onSubmit()"
		>
			<!--- -- -- -- -- --->
			<!--- --- NAME --- -->
			<!--- -- -- -- -- --->
			<mat-card-title> Name: </mat-card-title>
			<mat-form-field appearance="fill">
				<input
					matInput
					placeholder="Enter name of category here"
					formControlName="name"
				/>
				<mat-error>This is required field.</mat-error>
			</mat-form-field>

			<div class="section__wrapper">
				<!--- -- -- -- -- --->
				<!-- SUBCATEGORIES -->
				<!--- -- -- -- -- --->
				<section
					formArrayName="subCategories"
					class="section"
				>
					<!-- SUBCATEGORY HEADER -->
					<div class="section__header">
						<mat-card-subtitle>Subcategories:</mat-card-subtitle>

						<!-- ADD SUBCATEGORY -->
						<button
							mat-button
							class="add-button"
							type="button"
							(click)="addSubcategoryContoll()"
						>
							+<mat-icon>category</mat-icon> Add more
						</button>
					</div>

					<!-- SUBCATEGORY FORMFIELD -->
					<div
						class="input-array-item"
						*ngFor="
							let subCategory of subCategoriesArray.controls;
							let i = index
						"
					>
						<mat-form-field appearance="fill">
							<mat-label>Subcategory #{{ i + 1 }}</mat-label>
							<input
								matInput
								placeholder="Subcategory name"
								[formControlName]="i"
							/>
							<mat-error>Not need it? Delete it.</mat-error>
						</mat-form-field>
						<button
							type="button"
							class="delete-button"
							mat-icon-button
							(click)="removeSubcategoryControll(i)"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</div>

					<div
						class="no-content"
						*ngIf="!subCategoriesArray.length"
					>
						0 subcategories
					</div>
				</section>

				<!--- -- -- -- -- -- -- - --->
				<!-- AVAIBLE ROLES TO VIEW -->
				<!--- -- -- -- -- --- --- --->
				<section
					formArrayName="roles"
					class="section"
				>
					<!-- HEADER -->
					<div class="section__header">
						<mat-card-subtitle>Roles:</mat-card-subtitle>
						<button
							mat-button
							class="add-button"
							type="button"
							(click)="addRoleContoll()"
						>
							+<mat-icon>group</mat-icon> Add more
						</button>
					</div>

					<!-- ROLE FORMFIELD -->
					<div
						class="input-array-item"
						*ngFor="let role of rolesArray.controls; let i = index"
					>
						<mat-form-field appearance="fill">
							<mat-label>Role #{{ i + 1 }}</mat-label>
							<mat-select [formControlName]="i">
								<mat-option
									*ngFor="let role of roles$ | async"
									[value]="role.id"
									[disabled]="isRoleNotSelected(role.id)"
								>
									{{ role.name }}</mat-option
								>
							</mat-select>

							<mat-error>Not need it? Delete it.</mat-error>
						</mat-form-field>
						<button
							type="button"
							class="delete-button"
							mat-icon-button
							(click)="removeRoleControll(i)"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</div>

					<div
						class="no-content"
						*ngIf="!rolesArray.length"
					>
						0 roles
					</div>
				</section>
			</div>

			<mat-card-subtitle *ngIf="category.createdByFull">
				Created by:
				{{
					category.createdByFull.firstName +
						' ' +
						category.createdByFull.lastName
				}}
			</mat-card-subtitle>
			<mat-card-subtitle *ngIf="category.postAmout"
				>Posts: {{ category.postAmout }}</mat-card-subtitle
			>

			<div
				class="delete-message"
				*ngIf="category.postAmout"
			>
				<mat-icon>info</mat-icon>You cant delete category, if it has posts.
			</div>

			<div class="button-wrapper">
				<div class="button-wrapper__delete">
					<!-- (click)="deleteCategory()" -->
					<button
						mat-stroked-button
						color="warn"
						type="button"
						(click)="deleteCategory()"
						*ngIf="category.id != 'new'"
						[disabled]="category.postAmout != 0"
					>
						<mat-icon>delete</mat-icon>
						Delete
					</button>
				</div>

				<div class="button-wrapper__save-cancel">
					<button
						mat-button
						color="primary"
						type="button"
						routerLink="/edit-categories"
					>
						Cancel
					</button>
					<button
						mat-raised-button
						color="primary"
						type="submit"
					>
						<mat-icon>save</mat-icon>
						Save
					</button>
				</div>
			</div>
		</form>
	</mat-card>
</div>
