:host {
	background-color: #eee;
	width: 100%;
}

header {
	display: flex;
	padding: 5px;

	h1 {
		display: block;
		flex-grow: 1;
		text-align: center;
		height: 100%;
		margin-right: 50px;
	}
}

.form__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;

	.form-card {
		width: clamp(300px, 50%, 600px);

		section {
			position: relative;
			padding: 15px 15px 1px 15px;
			// padding: 15px;
			background-color: #ccc1;
			margin-bottom: 15px;
			border-radius: 5px;
			box-shadow: inset 0 1px 1px #3336, inset 0 0px 1px #3333;

			.input-array-item {
				display: flex;
				.delete-button {
					margin: 10px 0px 0px 5px;
				}
			}

			.add-button {
				position: absolute;
				right: 15px;
				top: 7px;
			}
		}

		mat-form-field {
			width: 100%;
		}

		.button-wrapper {
			text-align: right;
			button {
				width: clamp(100px, 30%, 400px);
				margin-left: 5px;
			}
		}
	}
}
