@import 'variable.scss';

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

:host {
	flex-grow: 1;
	background-color: #eee;
}

header {
	display: flex;
	padding: 10px;

	@media screen and (max-width: $screen-width-small) {
		padding: 3px;
	}

	h1 {
		flex-grow: 1;
		text-align: center;
		margin: 0px 50px 0px 0px;
	}
}

.form__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;

	.form-card {
		width: clamp(250px, 95vw, 600px);

		@media screen and (min-width: 960px) {
			width: clamp(700px, 95vw, 1200px);
		}

		@media screen and (max-width: $screen-width-small) {
			padding: 10px;
			width: 96%;
		}

		.section__wrapper {
			@media screen and (min-width: 960px) {
				display: flex;
				gap: 15px;
			}
			.section {
				$background: #f8f8f8;

				width: 100%;
				padding: 0px 15px;
				background-color: $background;
				margin-bottom: 15px;
				border-radius: 5px;
				border: 1px solid #ddd;

				&__header {
					z-index: 100;
					position: sticky;
					top: 64px;

					@include flex-center();
					justify-content: space-between;
					margin: 0 -15px;
					padding: 5px 5px 5px 15px;
					border-radius: 5px;

					background-color: lighten($background, 2);
					border-bottom: 1px solid #0002;
					box-shadow: 0 2px 3px #ccc4;

					@media screen and (max-width: 600px) {
						top: 55px;
					}

					mat-card-subtitle {
						margin: 0;
					}
				}

				@media screen and (max-width: $screen-width-small) {
					padding: 0px 10px;
					&__header {
						margin: 0 -10px;
					}
				}

				.input-array-item {
					display: flex;
					&:nth-child(2) {
						margin-top: 15px;
					}
					.delete-button {
						margin: 10px 0px 0px 5px;
					}
				}

				.no-content {
					width: 100%;
					height: calc(100% - 50px);
					display: flex;
					flex-grow: 1;
					align-items: center;
					justify-content: center;
					padding: 5px;
					opacity: 0.5;
				}
			}
		}

		mat-form-field {
			width: 100%;
		}

		.button-wrapper {
			display: flex;
			flex-wrap: wrap;
			& button {
				width: clamp(70px, 30vw, 150px);
			}
			&__delete {
				flex-grow: 1;
			}

			&__save-cancel {
				flex-grow: 1;
				text-align: right;
			}

			@media screen and (max-width: $screen-width-small) {
				// flex-direction: column;
				gap: 5px;
				mat-icon {
					display: none;
				}

				&__delete {
					button {
						width: 100%;
					}
				}
			}
		}

		.delete-message {
			display: flex;
			align-items: center;
			padding-top: 15px;
			opacity: 0.4;
		}
	}
}
