@import 'variable.scss';

$sidebar-open-duration: 0.3s;
:host {
	flex-grow: 1;
	background-color: #eee;
	display: flex;

	@media screen and (max-width: $screen-width-small) {
		overflow-y: hidden;
	}
}

.small-screen-element {
	//will not shown on big screen
	display: none;
	@media screen and (max-width: $screen-width-small) {
		display: unset;
	}
}

.categories {
	transition: width $sidebar-open-duration;
	@media screen and (max-width: $screen-width-small) {
		width: 0px;
		position: absolute;
		overflow-x: hidden;
		&_opened {
			width: 90vw;
		}
	}

	.header {
		padding: 5px 15px;
		// text-align: center;
		@media screen and (max-width: $screen-width-small) {
			padding: 5px 3px;
		}
	}

	.button__wrapper {
		display: flex;
		justify-content: center;
	}

	.categories__content {
		width: clamp(250px, 20vw, 350px);
		color: #555;

		@media screen and (max-width: $screen-width-small) {
			width: 90vw;
		}

		.category {
			border-top: 2px solid #0001;
			margin: 10px 0;
			padding-top: 10px;
		}

		.category-item {
			cursor: pointer;
			width: 100%;
			padding: 5px 15px;
			transition: background 0.2s;
			&:hover {
				background-color: #0001;
			}
			&:active {
				background-color: #0002;
			}

			&__selected {
				color: #06f;
				background-color: #06f3;
			}
		}

		.category-head {
			font-size: 1rem;
			font-weight: 400;
		}

		.subcategory {
			opacity: 0.8;
		}
	}
}

.post-list {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 5px;
	transition: margin $sidebar-open-duration;
	background-color: #f8f8f8;

	.post-list__content {
		display: flex;
		flex-wrap: wrap;
		gap: 7px;

		@media screen and (max-width: $screen-width-small) {
			flex-direction: column;
		}
		.post {
			height: 130px;
			flex-basis: 300px;
			transition: transform ease-out 0.1s;
			box-sizing: border-box;
			cursor: pointer;

			&:hover {
				transform: translateY(-2px);
			}
			&:active {
				transform: translateY(0px);
			}
			@media screen and (max-width: $screen-width-small) {
				flex-basis: unset;
				height: 120px;
			}
		}
	}

	.no-content {
		display: none;
		padding-top: 30px;
		width: 100%;
		font-size: 2rem;
		font-weight: 500;
		text-align: center;
		opacity: 0.2;
		&:first-child {
			display: unset;
		}
	}

	@media screen and (max-width: $screen-width-small) {
		&_opened {
			margin-left: 90vw;
		}
	}
}
