<app-stripe-loader
	[isLoading]="!isPostLoaded && !isCategoriesLoaded"
></app-stripe-loader>

<nav [ngClass]="isOpened ? 'categories categories_opened' : 'categories '">
	<div class="categories__content">
		<h2 class="header">
			<button
				mat-icon-button
				(click)="isOpened = false"
				class="small-screen-element"
			>
				x
			</button>
			List of categories:
			<button
				mat-icon-button
				routerLink="/edit-categories"
			>
				<mat-icon>edit_note</mat-icon>
			</button>
		</h2>
		<div class="button__wrapper">
			<button
				mat-raised-button
				[disabled]="isDatabaseInitialized"
				(click)="initDB()"
			>
				Init Database
			</button>
		</div>

		<div class="category">
			<div
				class="category-item category-head"
				[class.category-item__selected]="searchParams.categoryId == 'all'"
				(click)="changeSearchParams('all', null)"
			>
				All
			</div>
		</div>
		<div
			class="category"
			*ngFor="let category of categories"
		>
			<div
				class="category-item category-head"
				(click)="changeSearchParams(category.id, null)"
				[class.category-item__selected]="searchParams.categoryId == category.id"
			>
				{{ category.name }}
			</div>
			<div
				class="subcategory category-item"
				*ngFor="let sub of category.subCategoriesFull"
				[class.category-item__selected]="searchParams.subCategoryId == sub.id"
				(click)="changeSearchParams(null, sub.id)"
			>
				{{ sub.name }}
			</div>
		</div>
	</div>
</nav>

<main [ngClass]="isOpened ? 'post-list post-list_opened' : ' post-list'">
	<div class="search-block">
		<button
			mat-icon-button
			(click)="isOpened = true"
			class="small-screen-element"
		>
			<mat-icon>menu</mat-icon>
		</button>
		<input
			type="text"
			class="search"
			placeholder="🔍 search"
			(input)="changeSearchPhrase($event.target)"
		/>
		<button
			mat-button
			class="button-add"
			routerLink="/post/add"
		>
			<mat-icon>add</mat-icon>
			Add new post
		</button>

		<button
			mat-icon-button
			class="button-add__icon"
			routerLink="/post/add"
		>
			<mat-icon>add</mat-icon>
		</button>
	</div>

	<div class="post-list__content">
		<mat-card
			matRipple
			class="post"
			[routerLink]="['../post', post.id]"
			*ngFor="
				let post of posts
					| postFilter: searchParams.categoryId:searchParams.subCategoryId
					| postSearch: searchParams.phrase
			"
		>
			<mat-card-title>{{ post.title }}</mat-card-title>
			<mat-card-content>{{
				post.contentHTML | contentShortner | tagRemove
			}}</mat-card-content>
		</mat-card>
		<div class="no-content">No posts here</div>
	</div>
</main>
