@import 'variable.scss';

$sidebar-open-duration: 0.3s;
:host {
	flex-grow: 1;
	background-color: #eee;
	display: flex;

	@media screen and (max-width: $screen-width-small) {
		overflow-y: hidden;
	}
}

.small-screen-element {
	//will not shown on big screen
	display: none;
	@media screen and (max-width: $screen-width-small) {
		display: unset;
	}
}

.categories {
	transition: width $sidebar-open-duration;
	@media screen and (max-width: $screen-width-small) {
		width: 0px;
		position: absolute;
		overflow-x: hidden;
		&_opened {
			width: 90vw;
		}
	}

	.categories__content {
		width: clamp(250px, 20vw, 350px);
		color: #555;

		@media screen and (max-width: $screen-width-medium) {
			width: 130px;
		}

		@media screen and (max-width: $screen-width-small) {
			width: 90vw;
		}

		.header {
			padding: 5px 15px;
			margin: 0px;
			@media screen and (max-width: $screen-width-small) {
				padding: 5px 3px;
			}
		}

		.category {
			border-top: 2px solid #0001;
			// margin: 10px 0;
			margin-bottom: 10px;
			padding-top: 10px;

			&__all {
				border: none;
			}
		}

		.category-item {
			cursor: pointer;
			width: 100%;
			padding: 5px 15px;
			transition: all 0.3s;
			&:hover {
				color: #06f;
				background-color: #06f2;
			}
			&:active {
				// box-shadow: inset 0 2px 2px 1px #0002, inset 0 1px 1px #0001;
				background-color: #0001;
			}

			&__selected {
				color: #06f;
				background-color: #0001;
			}
		}

		.category-head {
			font-size: 1rem;
			font-weight: 400;
		}

		.subcategory {
			opacity: 0.8;
		}
	}
}

.post-list {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	transition: margin $sidebar-open-duration;
	background-color: #f8f8f8;

	@media screen and (max-width: $screen-width-small) {
		box-shadow: -6px 0 24px #0003, 0 0 4px #0003;
	}

	.search-block {
		display: flex;
		justify-content: center;
		background-color: #ddd;
		position: sticky;
		input {
			transition: background 0.3s;
			padding-left: 15px;
			background-color: #fff8;
			border: 1px solid #0002;
			flex-grow: 1;
			border-bottom: 2px solid #0003;

			@media screen and (min-width: 960px) {
				flex-grow: 0;
				width: 500px;
			}

			&:focus {
				outline: none;
				background-color: #fff;
				border-bottom: 2px solid #36a;
				box-shadow: 0 1px 3px #36a8;
			}
		}

		.button-add {
			display: none;
			@media screen and (min-width: $screen-width-medium) {
				display: unset;
			}
		}

		.button-add__icon {
			display: unset;
			@media screen and (min-width: $screen-width-medium) {
				display: none;
			}
		}
	}

	.post-list__content {
		display: flex;
		flex-wrap: wrap;
		gap: 7px;
		padding: 5px;

		@media screen and (max-width: $screen-width-small) {
			flex-direction: column;
		}
		.post {
			height: 130px;
			flex-basis: 300px;
			transition: transform ease-out 0.1s;
			box-sizing: border-box;
			cursor: pointer;

			&:hover {
				transform: translateY(-2px);
			}
			&:active {
				transform: translateY(0px);
			}
			@media screen and (max-width: $screen-width-small) {
				flex-basis: unset;
				height: 120px;
			}
		}
	}

	.no-content {
		display: none;
		padding-top: 30px;
		width: 100%;
		font-size: 2rem;
		font-weight: 500;
		text-align: center;
		opacity: 0.2;
		&:first-child {
			display: unset;
		}
	}

	@media screen and (max-width: $screen-width-small) {
		&_opened {
			margin-left: 90vw;
		}
	}
}
