<app-stripe-loader [isLoading]="isLoading"></app-stripe-loader>

<app-sidebar
	[categories]="categories"
	[isOpened]="isOpened"
	[isUserCanModCat]="isUserCanModCat"
	(closeSidebar)="isOpened = $event"
	(currentCategory)="searchParams.categoryId = $event"
	(currentSubCategory)="searchParams.subCategoryId = $event"
>
</app-sidebar>

<main class="post-list">
	<div class="search-block">
		<button
			mat-icon-button
			(click)="isOpened = true"
			class="small-screen-element"
			matTooltip="Open categories"
		>
			<mat-icon>menu</mat-icon>
		</button>
		<input
			type="text"
			class="search"
			placeholder="Search..."
			(input)="changeSearchPhrase($event.target)"
		/>
		<button
			mat-button
			class="button-add"
			routerLink="/post/add"
			matTooltip="Add new post"
			*ngIf="isUserLoggedIn | async"
		>
			<mat-icon>post_add</mat-icon>
			Add new post
		</button>

		<button
			mat-icon-button
			class="button-add__icon"
			routerLink="/post/add"
			matTooltip="Add new post"
			*ngIf="isUserLoggedIn | async"
		>
			<mat-icon>post_add</mat-icon>
		</button>
	</div>

	<div
		class="no-content"
		*ngIf="
			(
				posts
				| postFilter: searchParams.categoryId:searchParams.subCategoryId
				| postSearch: searchParams.phrase
			).length === 0 &&
			categories !== undefined &&
			categories.length
		"
	>
		No posts here
	</div>

	<div
		class="no-content"
		*ngIf="categories !== undefined && !categories.length"
	>
		No available categories to view
	</div>
	<div class="post-list__content">
		<mat-card
			matRipple
			class="post"
			[routerLink]="['/post', post.id]"
			*ngFor="
				let post of posts
					| postFilter: searchParams.categoryId:searchParams.subCategoryId
					| postSearch: searchParams.phrase
			"
		>
			<mat-card-title>{{ post.title }}</mat-card-title>
			<mat-card-content>{{
				post.contentHTML | contentShortner | tagRemove
			}}</mat-card-content>
		</mat-card>
	</div>
</main>
