:host {
	display: flex;
	flex-direction: column;
	// min-height: 100vh;
	min-height: 100%;
	// width: 100%;

	// border: 3px dotted #f0f;
	// box-sizing: border-box;
}

.header-component {
	position: sticky;
	top: 0px;
	z-index: 1000;
	// height: 64px;
	flex: 0 1 auto;
}

// .router__wrapper {
// 	border: 3px solid #0f0;
// 	flex: 1 1 auto;
// 	// flex-grow: 1;
// }

// .test {
// 	background-color: #ff06;
// 	border: 3px dashed #f60;
// 	flex-grow: 1;
// 	// height: 200vh;
// }
