.form-group {
	display: flex;
	flex-direction: column;
	width: 70vw;
	form {
		display: flex;
		flex-direction: column;
	}
	button {
		max-width: 120px;
		width: 20vw;
		padding: 0;
		margin: 0 auto;
	}
	p {
		font-size: 1.2em;
	}
}
