<app-load-spinner [isLoading]="isLoading"></app-load-spinner>

<!-- HOME PAGE -->
<div
	routerLink="/main"
	matTooltip="Go to home page"
>
	<button
		mat-button
		class="button-normal"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>home</mat-icon>
		Home
	</button>
	<button
		mat-icon-button
		class="button-small"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>home</mat-icon>
	</button>
</div>

<!-- PROFILE PAGE -->
<div
	routerLink="/profile"
	matTooltip="View your profile"
	*ngIf="isLoggedIn$ | async"
>
	<button
		mat-button
		class="button-normal"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>person</mat-icon>
		Profile
	</button>
	<button
		mat-icon-button
		class="button-small"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>person</mat-icon>
	</button>
</div>

<!-- USERS EDIT PAGE -->
<div
	routerLink="/user"
	*ngIf="isRegularAdmin | async"
	matTooltip="Edit users"
>
	<button
		mat-button
		class="button-normal"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>manage_accounts</mat-icon>
		Users
	</button>
	<button
		mat-icon-button
		class="button-small"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>manage_accounts</mat-icon>
	</button>
</div>

<!-- ROLE EDIT PAGE -->
<div
	routerLink="/role"
	*ngIf="isRegularAdmin | async"
	matTooltip="Edit roles"
>
	<button
		mat-button
		class="button-normal"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>badge</mat-icon>
		Roles
	</button>
	<button
		mat-icon-button
		class="button-small"
		[disabled]="!isDBInitialized"
	>
		<mat-icon>badge</mat-icon>
	</button>
</div>

<!-- DATABASE INITIALIZATION CONTOL -->
<button
	*ngIf="(isAdmin | async) && !isDBInitialized"
	mat-flat-button
	[disabled]="isDBInitialized || isLoading"
	(click)="initDB()"
	matTooltip="Fill database with mocked data"
>
	<mat-icon>storage</mat-icon>
	Init DB
</button>
<div
	class="done-message"
	*ngIf="(isAdmin | async) && isDBInitialized"
>
	<mat-icon>done</mat-icon>
	DB Inited
</div>
