<!--
	EXAMPLE:

			<button
				mat-button
				routerLink="/your/path"
			>
				button text
			</button>

-->
<app-load-spinner [isLoading]="isLoading"></app-load-spinner>

<button
	mat-button
	routerLink="/main"
>
	Home
</button>

<button
	mat-button
	routerLink="/profile"
	*ngIf="isLoggedIn$ | async"
>
	Profile
</button>

<button
	mat-button
	routerLink="/user"
	*ngIf="isAdmin | async"
>
	Users
</button>

<button
	mat-button
	routerLink="/role"
	*ngIf="isAdmin | async"
>
	Roles
</button>

<button
	*ngIf="isAdmin | async"
	mat-button
	[disabled]="isDBInitialized || isLoading"
	(click)="initDB()"
>
	{{ 'Init database' }}
</button>
