<div class="example-container">
	<form [formGroup]="form">
		<mat-form-field appearance="outline">
			<mat-label>Enter your first name</mat-label>
			<input
				matInput
				placeholder="John"
				formControlName="firstName"
			/>
			<mat-error *ngIf="form.controls['firstName'].invalid"
				>First name must be at least 2 characters long</mat-error
			>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Enter your last name</mat-label>
			<input
				matInput
				placeholder="Smith"
				formControlName="lastName"
			/>
			<mat-error *ngIf="form.controls['lastName'].invalid"
				>Last name must be at least 2 characters long</mat-error
			>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Enter your email</mat-label>
			<input
				matInput
				placeholder="pat@example.com"
				formControlName="email"
			/>
			<mat-error *ngIf="form.controls['email'].invalid"
				>Enter the correct email</mat-error
			>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Enter your password</mat-label>
			<input
				matInput
				[type]="hide ? 'password' : 'text'"
				formControlName="password"
			/>
			<button
				mat-icon-button
				matSuffix
				(click)="hide = !hide"
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide"
			>
				<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
			<mat-error *ngIf="form.controls['password'].invalid"
				>Required minimum eight characters, at least one letter and one
				number</mat-error
			>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Confirm your password</mat-label>
			<input
				matInput
				[type]="hide ? 'password' : 'text'"
				formControlName="confirmPassword"
			/>
			<button
				mat-icon-button
				matSuffix
				(click)="hide = !hide"
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide"
			>
				<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
			<mat-error
				*ngIf="form.controls['confirmPassword'].hasError('passwordMismatch')"
			>
				Passwords do not match
			</mat-error>
			<mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
				Passwords must be enter
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-select formControlName="role">
				<mat-option
					*ngFor="let role of roles"
					[value]="role.id"
				>
					{{ role.name }}
				</mat-option>
			</mat-select>
			<mat-label>Role</mat-label>
		</mat-form-field>

		<button
			mat-raised-button
			color="primary"
			(click)="addUser()"
		>
			Add
		</button>
		<button
			mat-raised-button
			routerLink="/user/list"
		>
			Close
		</button>
	</form>
</div>
