<div class="buttons">
	<!-- <button *ngIf="router.url === '/profile/edit'"
		mat-raised-button
		color="primary"
		[routerLink]="'about'"
	>
		About me
	</button>  -->
	<button
		*ngIf="router.url === '/profile/edit'"
		mat-raised-button
		color="primary"
		(click)="openDialog()"
	>
		About me
	</button>
	<button
		*ngIf="router.url === '/profile/about'"
		mat-raised-button
		color="primary"
		[routerLink]="'edit'"
	>
		Edit profile
	</button>
</div>
<div class="content">
	<router-outlet></router-outlet>
</div>
