@import 'variable';

:host {
	flex-grow: 1;
	background-color: #eee;
	display: flex;
	max-height: calc(100vh - 64px);
	overflow: hidden;

	@media screen and (max-width: 600px) {
		max-height: calc(100vh - 56px);
	}
}

.not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	&__header {
		h1 {
			color: black;
			text-align: center;
			font-size: 9em;
			line-height: 1em;
			padding: 20px;
			@media screen and (max-width: $screen-width-medium) {
				font-size: 6em;
			}
		}

		h2 {
			color: black;
			text-align: center;
			font-size: 4em;
			line-height: 1em;
			padding: 30px 10px 10px 10px;

			@media screen and (max-width: $screen-width-medium) {
				font-size: 3em;
			}
		}
	}

	&__button {
		box-shadow: -6px 0 24px #0003, 0 0 4px #0003;

		button {
			width: 120px;
			height: 40px;
		}
	}
}
