<div *ngIf="isLoggedIn">
	<button
		mat-icon-button
		class="small-button"
		(click)="logout()"
	>
		<mat-icon>logout</mat-icon>
	</button>

	<button
		mat-button
		class="normal-button"
		(click)="logout()"
	>
		Log out
	</button>
</div>

<div *ngIf="!isLoggedIn">
	<button
		mat-icon-button
		class="small-button"
		routerLink="/authorization/login"
	>
		<mat-icon>login</mat-icon>
	</button>
	<button
		mat-button
		class="normal-button"
		routerLink="/authorization/login"
	>
		Log in
	</button>
	<button
		mat-button
		class="normal-button"
		routerLink="/authorization/register"
	>
		Sign up
	</button>
</div>
