<div class="button__back">
	<button
		mat-icon-button
		routerLink="/main"
		matTooltip="Back to main page"
	>
		<mat-icon>arrow_back</mat-icon>
	</button>
	<p
		class="button__back_text"
		style="margin-bottom: 0"
	>
		Back
	</p>
</div>
<div class="post-container">
	<ng-template
		[ngIf]="!post"
		[ngIfElse]="postTemplate"
	>
		<div class="spinner">
			<mat-spinner color="primary"></mat-spinner>
		</div>
	</ng-template>
	<ng-template #postTemplate>
		<div class="title-container">
			<h1 class="title">{{ post?.title }}</h1>
			<div class="dates">
				<span
					class="created-at"
					*ngIf="post?.createdAt"
					>Created at: {{ newDate(post?.createdAt) | date: 'MMMM d, y' }}</span
				>
				<span
					class="updated-at"
					*ngIf="post?.updatedAt"
					>Updated at: {{ newDate(post?.updatedAt) | date: 'MMMM d, y' }}</span
				>
			</div>
		</div>

		<div class="category">
			<!--    todo: getcategorybyId to display name after category service will be finished -->
			<span>{{ category?.name }}</span>
		</div>
		<div
			class="subcategory"
			*ngIf="getSubCategory()"
		>
			<span>{{ getSubCategory() }}</span>
		</div>
		<mat-divider class="divider"></mat-divider>
		<div
			class="content"
			[innerHTML]="post?.contentHTML | safeHtml"
		></div>
	</ng-template>
</div>
