.post {
	position: relative;
	margin: 5vw auto 0;
	width: 70vw;

	border-radius: 23px;
	background: #ffffff;
	box-shadow: 0 1px 28px 2px rgba(97, 97, 93, 0.88);
	padding: 32px;

	.title-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		.title {
			font-size: 36px;
			margin-left: 20px;
		}
		.dates {
			display: flex;
			flex-direction: column;
		}
	}

	.spinner {
		display: flex;
		justify-content: center;
	}

	.category,
	.subcategory {
		font-size: 13px;
		color: grey;
		margin-left: 20px;
		padding: 8px 16px;
		background-color: #eeeeee;
		display: inline-block;
		border-radius: 40px;
	}

	.content {
		margin-left: 20px;
	}
	.divider {
		margin: 20px 0 20px 0;
	}
}
