<div class="container">
	<!-- <p>About Me</p> -->
	<div class="container__name">
		<article>
			<h2>First Name</h2>
			<p>Data.firstName</p>
		</article>
		<article>
			<h2>Second Name</h2>
			<p>Data.secondName</p>
		</article>
	</div>
	<article>
		<h2>Email</h2>
		<p>Data.email</p>
	</article>
	<article>
		<h2>Password</h2>
		<p>{{ password | passwordHide }}</p>
	</article>
	<article>
		<h2>Role</h2>
		<p>Data.Role</p>
	</article>
	<!-- <mat-form-field appearance="fill">
		<mat-label>First Name</mat-label>
		<input
			matInput
			value="Data.firstname"
			readonly
		/>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Last Name</mat-label>
		<input
			matInput
			value="Data.lastname"
			readonly
		/>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Email</mat-label>
		<input
			matInput
			value="Data.email"
			readonly
		/>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Password</mat-label>
		<input
			matInput
			value="Data.password"
			readonly
		/>
	</mat-form-field> -->
</div>
