<div class="container">
	<p>About Me</p>
	<mat-form-field appearance="fill">
		<mat-label>First Name</mat-label>
		<input
			matInput
			placeholder="Your first name"
			value="Data.firstname"
			readonly
		/>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Last Name</mat-label>
		<input
			matInput
			placeholder="Your last name"
			value="Data.lastname"
			readonly
		/>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Email</mat-label>
		<input
			matInput
			placeholder="Your email"
			value="Data.email"
			readonly
		/>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Password</mat-label>
		<input
			matInput
			placeholder="Password"
			value="Data.password"
			readonly
		/>
	</mat-form-field>
</div>
