$border-color: #808080;

.container {
	display: flex;
	flex-direction: column;
	h2 {
		font-size: 1em;
		color: $border-color;
		margin-bottom: 0;
	}
}

.container__name {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	article:first-child {
		margin-right: 2.3vw;
	}
	article p {
		width: 23.1vw;
	}
}

.container p {
	border: 0.1vw solid $border-color;
	padding: 0.3vw;
	margin-bottom: 0;
}

@media (max-width: 500px) {
	h2 {
		color: $border-color;
	}
	.container__name {
		article p {
			width: 40vw;
		}
	}
}

@media (max-width: 300px) {
	h2 {
		color: $border-color;
		font-size: 0.8em;
	}
	.container__name {
		article p {
			font-size: 0.7em;
		}
	}
}
